.goal_improvement{
    display: flex;
    width: 100%;
    background-color: #F4F5F5;
    align-items: center;
    padding: 80px;
    margin-top: 132px;
    justify-content: space-between;
    position: relative;
}
.goal_topic{
    position: absolute;
    top: 40px;
    font-weight: 500;
    font-size: 16px;
    color: #282938;
}
.goal_hade{
    font-weight: 600;
    font-size: 38px;
}
.goal_titel{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(40, 41, 56, 0.7);
    width: 515px;
}
.who_we_are_banner{
    width: 100%;
    height: 340px;
    margin-bottom: 124px;
}