#about_us{
    background-color: rgba(244, 246, 252, 0.5);
}
.about_main{
    display: flex;
    padding: 128px 0;
}
.about_hade{
    width: 35%;
}
.about_hade h2{
    width: 327px;
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
}
.about_hade p{
    width: 327px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding: 16px 0;
    color: #282938;
    opacity: 0.7;
}

.about_slider{
    width: 65%;
    position: relative;
}
.clinet_inner{
    margin-top: 48px;
    display: flex;
}
.clinet_text{
    margin-left: 14px;
}
.about_slider .next{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 1;
    right: 50px;
    bottom: 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.next:hover{
    background-color: #5239FA;
    color: white;
    transition: 0.2s;
}
.about_slider .prev{
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 1;
    right: 0px;
    bottom: 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.prev:hover{
    background-color: #5239FA;
    color: white;
    transition: 0.2s;
}